<%= form_tag("/dev_select", method: "post") do %>
    <h1>Select A Film</h1>
  <select name="name">
    <% array_of_shit = [] %>
    <%= @films.each do |f| %>
        <% if !array_of_shit.include?(f.name) %>
          <% array_of_shit.push(f.name)%>
          <option><%= f.name %> </option>
        <% end %>
    <% end %>
    </select>
  <br>
    <%= submit_tag("dev_select") %>
<% end %>

