<div class="vertical-center">
  <div class="container">
    <div class="row">
      <div class=" text-center  col-xs-6 col-xs-offset-3">
        <div class="card animated fadeInUp">
          <h1 id="title" class="animated bounceIn"></h1>
          <h1 id="countdown"></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var stepVar = 1.0;
    function runTimer() {
        if (stepVar == 1) {
            stepVar += 1;

            countdown("countdown", <%= @films.first.time%>, 0);
            title("title", "Developer");
        } else if (stepVar == 2) {
            stepVar += 1;

            countdown("countdown", 1, 0);
            title("title", "Stop Bath")
        } else if (stepVar == 3) {
            stepVar += 1;

            countdown("countdown", 8, 0);
        } else if (stepVar == 4) {
            stepVar += 1;

            countdown("countdown", 10, 0);
        } else if (stepVar == 5) {
            stepVar += 1;

            countdown("countdown", 1, 0);
        }
    }
    function title(elementName, title) {
        element = document.getElementById( elementName );
        element.style.webkitAnimationName = 'bounceIn';

        element.innerHTML = title;
    }
    function countdown( elementName, minutes, seconds )
    {
        var element, endTime, hours, mins, msLeft, time, agiatationTime;
        agiatationTime = 15;


        function twoDigits( n )
        {
            return (n <= 9 ? "0" + n : n);
        }

        function updateTimer()
        {
            if (agiatationTime > 0) {
                console.log(agiatationTime );

                element.style.color = "Red";
                agiatationTime -= 1;
                console.log(agiatationTime );
                if (agiatationTime == 0) {
                    agiatationTime -= 30;
                }
            }
            else {
                console.log(agiatationTime );
                element.style.color = "Black";
                agiatationTime+= 1;
                if (agiatationTime == 0) {
                    agiatationTime += 30;
                }
            }
            msLeft = endTime - (+new Date);

            if ( msLeft < 1000 ) {
                element.innerHTML = "countdown's over!";
                runTimer()
            } else {



                time = new Date( msLeft );
                hours = time.getUTCHours();
                mins = time.getUTCMinutes();
                element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );



            }
        }
        element = document.getElementById( elementName );
        endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
        updateTimer();
    }

    runTimer()


</script>