<style>
  h1 {
    font-size: 10rem;
  }
    .film-btn {
      font-size: 3rem;

     }
</style>

<div class=" text-center col-sm-10 col-sm-offset-1 col-xs-12 ">
  <div class="card animated fadeInUp">
    <div class="col-sm-5">
      <h1 id="countdown"></h1>
      <button class="btn film-btn btn-primary">Start</button>
    </div>
    <div class = "col-sm-5">
      <label>Developer</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:70%">
        </div>
      </div>
      <label>Stop</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:70%">
        </div>
      </div>
      <label>Fixer</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:70%">
        </div>
      </div>
      <label>Wash</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:70%">
        </div>
      </div>
    </div>
    <audio id="audio">
      <source src="https://freesound.org/data/previews/219/219269_170215-lq.mp3" type="audio/mp3">
      Your browser does not support HTML5 audio.
    </audio>
  </div>
</div>




<%= javascript_include_tag('application') %>
<%= javascript_tag do %>
    var stepVar = 1.0;
    function runTimer() {
    if (stepVar == 1) {
    stepVar += 1;

    countdown("countdown", <%= @films.first.time%>, 0);
    title("title", "Developer");
    } else if (stepVar == 2) {
    stepVar += 1;

    countdown("countdown", 1, 0);
    title("title", "Stop Bath")
    } else if (stepVar == 3) {
    stepVar += 1;

    countdown("countdown", 8, 0);
    title("title", "Fixer")

    } else if (stepVar == 4) {
    stepVar += 1;

    countdown("countdown", 10, 0);
    title("title", "Rinse")

    } else if (stepVar == 5) {
    stepVar += 1;

    countdown("countdown", 1, 0);
    title("title", "Photoflo")

    }
    }


    runTimer()


<% end %>

